{% extends 'base.html' %}
{% block content %}

<h1>Employee Data</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Team ID</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.team_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h1>Submission Data</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Employee ID</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
        <tr>
            <td>{{ submission.id }}</td>
            <td>{{ submission.employee_id }}</td>
            <td>{{ submission.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>

</html>


{% endblock %}