{% extends 'base.html' %}

{% block content %}
<div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
    <img src="https://images.unsplash.com/photo-1503551723145-6c040742065b-v2?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="img-fluid" alt="Post it papers" width="100px" />
    <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
</div>
<h2>{{ team_blockers["name"] }}</h2>
<p>{{ team_blockers["summarized_blockers"] }}</p>

<ul>
    {% for team_submission in team_submissions %}
    <li>
        {{ team_submission["message"] }}
        <button class="btn btn-link like-button" data-id="{{ team_submission.id }}">Like</button>
        <span class="likes-count" id="likes-count-{{ team_submission.id }}">0 Likes</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}